<div class="main1-div">
    <div class="main1-sub1">
  
      <div class="insitute-name">
        <div class="willntrix-head">
          WillntriX
        </div>
        <div class="willntrix-sub">
            Get skilled | Get hired
        </div>
      </div>
  
      <div class="carriers">
        <div class="carriers-head" href="https://www.willntrix.com/about">About Us</div>
        <div class="carriers-head"><a href="https://www.willntrix.com/#Reviews">Reviews</a></div>
        <div class="carriers-head"><a>Testimonials</a></div>
        <div class="carriers-head" href="https://www.willntrix.com/FAQ">FAQs</div>
        <div class="carriers-head" href="https://www.willntrix.com/contact">Contact Us</div>
        <!-- <div class="line"></div>
        <div class="carriers-sub">WORK WITH US</div> -->
      </div>
      <div class="carriers">
        <div class="carriers-head"><a href="https://www.willntrix.com/#enquiry">Enquiry now</a></div>
        <div class="carriers-head"><span>Enroll for demo</span></div>
        <!-- <div class="carriers-head" href="studentregister">Registration</div>
        <div class="carriers-head" href="student">Daily tracker</div>
        <div class="carriers-head" href="workshop">Workshops</div> -->
        <!-- <div class="line"></div>
        <div class="carriers-sub">+91 9164808121</div> -->
      </div>
      <div class="social">
        <a href="https://www.facebook.com/willntrix/" target="_blank">
          <!-- <mat-icon svgIcon="facebook" class="icons"></mat-icon> -->
          <!-- <img src="assets/facebook.svg" alt="twitter"> -->
        </a>
        <!-- <img src="assets/twitter.svg" alt="twitter">
          <img src="assets/googleplus.svg" alt="twitter"> -->
        <a  href="https://www.instagram.com/willntrix/" target="_blank">
          <!-- <mat-icon svgIcon="instagram" class="icons"></mat-icon> -->
          
          <!-- <img src="assets/instagram.svg" alt="twitter"> -->
        </a>
      </div>
    </div>
  </div>
  